<script>
import {mapState} from 'vuex'
export default {   
    computed : {
        ...mapState({
            patientStore: state => state.patientStore
        })   
    },
    methods: {
        patientDetail(id){
            this.$router.push({path:'/patient/'+id})
        }
    },
    created () {
        this.$store.dispatch('setPatientListMenu', false)
        this.$store.dispatch('setPatientList')
    }  
}
</script>
<template>
<div>
<table class="uk-table uk-table-hover uk-table-divider">
    <thead>
        <tr>
            <th class="uk-width-small">Adı Soyadı</th>
            <th>Notu</th>
            <th>İşlem Tarihi</th>
        </tr>
    </thead>
    <tbody>
        <tr class="cursor-pointer" v-for="patient in patientStore.patientList" v-on:click="patientDetail(patient.id)">
            <td>{{patient.name}}</td>
            <td>{{patient.note}}</td>
            <td>{{patient.created_at}}</td>
        </tr>
    </tbody>
</table>
</div>
</template>