<script>
import {loginUrl, userUrl, getHeader} from './../config'
import {clientId, clientSecret} from './../env'
import { mapState } from 'vuex'
export default {
  data () {
    return {
      login : {
        email : 'justeser@gmail.com',
        password : 'password'
      }
    }
  },
  computed: {
    ...mapState({
      userStore: state => state.userStore
    })
  },  
  methods : {
    handleLoginFormSubmit () {
      const postData = {
        grant_type : 'password',
        client_id : clientId,
        client_secret : clientSecret,
        username : 'justeser@gmail.com',
        password : 'password',
        scope : ''
      }
      const authUser = {}
      this.$http.post(loginUrl, postData)
        .then(res=>{
          if(res.status === 200){
            console.log(res)
            authUser.access_token = res.data.access_token
            authUser.refresh_token = res.data.refresh_token
            window.localStorage.setItem('authUser', JSON.stringify(authUser))
            this.$http.get(userUrl, {headers: getHeader()})
              .then(res => {
                authUser.email  = res.body.email
                authUser.name   = res.body.name
                window.localStorage.setItem('authUser', JSON.stringify(authUser))
                this.$store.dispatch('setUserObject', authUser)
                this.$router.push({name:'dashboard'})
              })
          }
        })
    }
  },
  created () {
    if(window.localStorage.getItem('authUser') !== null){
      this.$router.push({name: 'dashboard'})
    }       
  }
}    
</script>


<template>
<div class="uk-position-absolute uk-transform-center" style="left: 50%; top: 40%">
    <div class="uk-grid">
    <form v-on:submit.prevent="handleLoginFormSubmit()">
        <div class="uk-margin">
            <div class="uk-inline">
                <img src="./../assets/images/logo2.png" alt="">
            </div>
        </div>                   
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" placeholder="E-Mail Adresiniz"
                  v-model="login.email"
                >
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" placeholder="Şifreniz"
                  v-model="login.password"
                >
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-width-1-1 uk-button uk-button-primary uk-button-middle">GİRİŞ</button>
        </div>
    </form>
    </div>
</div>    
</template>