<script>
import {mapState} from 'vuex'
export default {
    data () {
        return {
            patient : {
                name     : '',
                tc       : '',
                phone    : '',
                birthYear: '',
                note     : ''
            }
        }
    },
    computed : {
        ...mapState({
            userStore: state => state.userStore,
            patientStore: state => state.patientStore
        })   
    },    
    methods : {
        newPatient () {
            let newPatient = {
                name     : this.patient.name,
                tc       : this.patient.tc,
                phone    : this.patient.phone,
                birthYear: this.patient.birthYear,
                note     : this.patient.note
            }      
            this.$store.dispatch('setNewPatient', newPatient);   
            this.$store.dispatch('setPatientList')
        }
    }
}
</script>

<template>
<!-- This is the modal -->
<div id="modal-example" uk-modal="center: true">
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Yeni Hasta</h2>
        <p>
            <form class="uk-form-stacked uk-grid-small" uk-grid>
                <div class="uk-width-1-2@s">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Adı</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-small" id="form-horizontal-text" type="text" placeholder="adı" v-model="patient.name">
                        </div>
                    </div>
                </div>

                <div class="uk-width-1-2@s">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">TC No</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-small" id="form-horizontal-text" type="text" placeholder="tc no" v-model="patient.tc">
                        </div>
                    </div> 
                </div>      
                <div class="uk-width-1-2@s">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Telefonu</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-small" id="form-horizontal-text" type="text" placeholder="telefonu" v-model="patient.phone">
                        </div>
                    </div> 
                </div>
                <div class="uk-width-1-2@s">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Doğum Yılı</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-small" id="form-horizontal-text" type="text" placeholder="doğum yılı" v-model="patient.birthYear">
                        </div>
                    </div> 
                </div>
                <div class="uk-width-1">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Not</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-input uk-form-small" id="form-horizontal-text" placeholder="not"  cols="30" rows="10" v-model="patient.note"></textarea>
                        </div>
                    </div> 
                </div>                

            </form>        
        </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">İptal</button>
            <button class="uk-button uk-button-primary" v-on:click="newPatient()" type="button">Kaydet</button>
        </p>
    </div>
</div>        
</template>