<script>
import {mapState} from 'vuex'
import {patientPhotoUploadUrl, patientPhotoUrlThumb, patientPhotoUrl, getHeader} from './../../config'
export default {
    data () {
        return {
            imageUrlThumb: patientPhotoUrlThumb,
            imageUrl     : patientPhotoUrl
        }
    },
    computed : {
        ...mapState({
            patientStore: state => state.patientStore
        })   
    },
    methods: {
      fileDropped(e) {
          var images = e.target.files || (e.dataTransfer && e.dataTransfer.files);
          for (var i = 0, f; f = images[i]; i++) {
            this.uploadFile(f);
          }
      },
      uploadFile(file) {
          var data = new FormData()
          data.append('image', file)
          data.append('id', this.$route.params.id)

          const url = patientPhotoUploadUrl+this.$route.params.id;

          this.$http.post(url, data, {headers: getHeader()}).then((response) => {
            console.log('File sent...'); 
            this.$store.dispatch('setPatientPhotoList', this.$route.params.id)
          }, (response) => {
            console.log('Error occurred...');
          });
          
      }
    },
    created () {
        this.$store.dispatch('setPatientListMenu', true) 
        this.$store.dispatch('setPatientPhotoList', this.$route.params.id)
        this.$store.dispatch('setPatientDetail', this.$route.params.id)
    }  
}
</script>

<template>
<div class="detail">
   <div class="boundary-align uk-panel">
    <h1 class="uk-heading-bullet">{{patientStore.patient.name}} 
    <div class="uk-float-right side-button-padding-top-12"> 
    <ul class="uk-iconnav">
        <li class="uk-inline">
        <div class="">
            <a href="#" uk-icon="icon: info"></a>
            <div uk-dropdown="pos: bottom-justify; boundary: .boundary-align; boundary-align: true">
                <table class="uk-table uk-table-small table-text">
                    <tbody>
                        <tr>
                            <td class="table-title-width">TC </td>
                            <td>: {{patientStore.patient.tc}}</td>
                        </tr>
                        <tr>
                            <td class="table-title-widt">Telefon </td>
                            <td>: {{patientStore.patient.phone}}</td>
                        </tr>  
                        <tr>
                            <td class="table-title-width">Doğum T. </td>
                            <td>: {{patientStore.patient.birthYear}}</td>
                        </tr>
                        <tr>
                            <td class="table-title-width">Kayıt T. </td>
                            <td>: {{patientStore.patient.created_at}}</td>
                        </tr>                        
                    </tbody>
                </table>               
            </div>
        </div>         
        </li>
        <li class="uk-inline">
        <div>
            <a href="#" uk-icon="icon: menu"></a>
            <div uk-dropdown="pos: top-right">
                <ul class="uk-nav uk-dropdown-nav uk-iconnav uk-iconnav-vertical">
                    <li>
                        <a href="" class="test-upload" uk-form-custom>
                            <input type="file" multiple @change="fileDropped" accept="image/*">
                            <span uk-icon="icon: camera"></span> Fotoğraf Ekle
                        </a>  
                    </li>                   
                    <li>
                        <a href="" class="test-upload" uk-form-custom>
                            <input type="file" multiple>
                            <span uk-icon="icon: copy" ></span> Belge Ekle
                        </a>                     
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li><a href=""><span uk-icon="icon:  pencil"></span> Bilgileri Güncelle </a></li>
                    <li><a href=""><span uk-icon="icon:  trash"></span> Hastayı Sil </a></li>
                </ul>
            </div>
        </div>           
        </li>
    </ul>
    </div>
    </h1>
    </div>
    <p>{{patientStore.patient.note}}</p>  
    <div class="uk-clearfix"></div>        
    <ul uk-tab>
        <li><a href="#">Fotoğraflar</a></li>
        <li><a href="#">Belgeler</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
        <li>
            <div class="uk-child-width-1-3@m" uk-grid>
                <div v-for="photo in patientStore.photoList" class="uk-inline">
                    <a :href="imageUrl + photo.name" data-lightbox="roadtrip"><img :src="imageUrlThumb + photo.name" alt=""/></a>
                </div>
            </div>
        </li>
        <li>Belgeler <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    </ul>
</div>
</template>

<style> 
 .table-text {font-family:Arial,sans-serif; font-size: 15px; font-weight: normal; line-height: 1.5;}
</style>