<script>
import {mapState} from 'vuex'
export default {        
    computed: {
        ...mapState({
        userStore: state => state.userStore,
        patientStore: state => state.patientStore
        })
    },
    methods: {
        handleLogout(){
            this.$store.dispatch('CLEAR_AUTH_USER')
            window.localStorage.removeItem('authUser')
            location.reload();
        }
    }
}

</script>

<template>
<nav class="uk-navbar-container uk-margin" uk-navbar v-if="userStore.authUser !== null && userStore.authUser.access_token">
    <div class="uk-navbar-left">
        <router-link :to="{name:'dashboard'}" class="uk-logo" href="#"><img src="./../assets/images/logo.png" alt=""></router-link>
    </div>    
    <div class="uk-navbar-right">   
        <ul class="uk-navbar-nav"> 
           <li>
            <div>
                <a class="uk-navbar-toggle" href="#" uk-search-icon title="Hasta Arayın" uk-tooltip></a>
                <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">

                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <form class="uk-search uk-search-navbar uk-width-1-1">
                                <input class="uk-search-input" type="search" placeholder="Arayın..." autofocus>
                            </form>
                        </div>
                        <div class="uk-width-auto">
                            <a class="uk-navbar-dropdown-close" href="#" uk-close></a>
                        </div>
                    </div>

                </div>
            </div>                 
           </li> 
           <li v-if="patientStore.isPatientListMenu">
               <router-link :to="{name:'dashboard'}" class="menu-icon" title="Hasta Listesi" uk-tooltip><span uk-icon="icon: list"></span></router-link>
           </li>                      
            <li>
                <a href="#modal-example"  class="menu-icon" title="Hasta Ekleyin" uk-tooltip uk-toggle><span uk-icon="icon: plus"></span></a>
            </li>
            <li class=""> 
                <a href="#" uk-icon="icon: user" class="padding-right-0"></a>
                <div uk-dropdown="pos: top-right">
                <ul class="uk-nav uk-dropdown-nav uk-iconnav uk-iconnav-vertical">
                    <li><a href=""><span uk-icon="icon:  info"></span> Profil </a></li>
                    <li><a v-on:click="handleLogout()"><span uk-icon="icon:  sign-out"></span> Çıkış </a></li>
                </ul>
                </div>               
            </li>            
        </ul>  
    </div>  
   
</nav>
</template>
