<template>
<div class="uk-container uk-width-xxlarge">
  <top-menu></top-menu>
  <router-view></router-view>
  <add-patient></add-patient>
</div>
</template>

<script>
import { mapState } from 'vuex'
import TopMenu from './components/TopMenu.vue'
import addPatient from './components/patient/add.vue'
export default {
  data () {
      return {
          isPatientListMenu: false
      }
  },    
  components: {
    'top-menu': TopMenu,
    'add-patient': addPatient
  },
  computed: {
    ...mapState({
      userStore: state => state.userStore,
      patientStore: state => state.patientStore
    })
  },
  created () {
    const userObj = JSON.parse(window.localStorage.getItem('authUser'))
    this.$store.dispatch('setUserObject', userObj)
  }
}
</script>

<style>

</style>
